<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bốc thăm trúng thưởng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon_io/avicon-16x16.png') }}">
    <link rel="manifest" href="{{url_for('static',filename='images/favicon_io/site.webmanifest') }}">
</head>
<body id="body">
    <div id="main-content">
        <h1>Bốc thăm ngay - Rinh quà liền tay</h1>
        <div id="box-container">
            <ul id="box-list">
            </ul>
        </div>
    </div>
</body>
<div id="cakes-container"></div>
</html>
